// 颜色定义规范
$color-background: #fff;
$color-background-d: rgba(0, 0, 0, 0.3);
$color-background-l: rgba(0, 0, 0, 0.5);
$color-background-ll: rgba(0, 0, 0, 0.8);
$color-background-blur: #222;
// QQ
$color-highlight-background: #f4f4f4;
$color-dialog-background: #666;
$color-theme-background: #00bcd4;
// $color-theme: #fff;
$color-theme: #00bcd4;
$color-icon: #00bcd4;
$color-theme-d: rgba(0, 188, 212, 0.5);
$color-sub-theme: #f5f5f5;
$color-split: #e0e0e0;
$color-text: #757575;
$color-text-light: #a9a9a9;
$color-text-white: #fff;
$color-text-white-d: rgba(255, 255, 255, 0.3);
$color-text-white-l: rgba(255, 255, 255, 0.5);
$color-text-white-ll: rgba(255, 255, 255, 0.75);
$color-text-d: rgba(117, 117, 117, 0.3);
$color-text-l: rgba(117, 117, 117, 0.5);
$color-text-ll: rgba(117, 117, 117, 0.8);
// $color-background: #222;
// $color-background-d: rgba(0, 0, 0, 0.3);
// $color-highlight-background: #333;
// $color-dialog-background: #666;
// $color-theme: #ffcd32;
// $color-theme-d: rgba(255, 205, 49, 0.5);
// $color-sub-theme: #d93f30;
// $color-text: #fff;
// $color-text-d: rgba(255, 255, 255, 0.3);
// $color-text-l: rgba(255, 255, 255, 0.5);
// $color-text-ll: rgba(255, 255, 255, 0.8);

//字体定义规范;
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
